{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'styles/task4(1).css' %}">
    </head>
    <body  background="{% static 'images/4.jpg' %}">
        <div class="main">
        <div class="login">
        <form id='login' action="login" method="post">
            {% csrf_token %}
            <h1>WELCOME</h1><br>
            <input id="name" type="text" name="username" value="" placeholder="Username"><br><br>
            <input id="name" type="password" name="password" value="" placeholder="Password"><br><br>
            <input id="name" type="password" name="cpassword" value="" placeholder="Confirm Password"><br><br>
            <input id="submit" type="submit" name="" value="Login">
            {% for msg in messages %}
            <h2>{{msg}}</h2>
            {% endfor %}
        </form>
        </div>
        </div>
    </body>
</html>
